@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: fira-sans;
}

#head {
  display: flex;
  margin: 30px 35px;
  justify-content: space-between;
 
}
#head .head-p{
    font-weight: 600;
    font-size: 20px;
}

#head .btn {
    padding: 0px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    color: #006A50;
    border-color: #006A50;
    border-width: 1px;
    cursor: pointer;
}

.btn:hover{
    background-color: #358870;
    color: white;
}


.banner-section {
    background-color:#C6E4D6 ;
    
    margin: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img{
    width: 100%;
    padding: 20px 0px;
   
}
.banner-section{
    padding: 0px 30px;
   
}
.banner-des p{
    font-weight: 200;
     color: #0E0E0E;
}
.banner-des h1{
   padding :  40px 0px;
   font-size: 30px;
}

.banner-des .btn{
     padding: 0px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    background-color: #006A50;
    color: white;
    border-color: #006A50;
    border-width: 1px;
    cursor: pointer;
}

.banner-des .btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: 600;
}

#pillar{
    margin:30px;

}
.pillar-sec{
    display: flex;
    background-color: white;
    gap: 20px;
    padding: 40px 0px;
  
}

.pillar-crd{
    border: 0px solid white;
    padding: 20px 5px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: white ;
    
}

.pillar-crd img{
    width:40px;
}
.pillar-crd h4{
    padding: 10px 0px;
}

.pillar-crd P{
    color: #0E0E0E;
    font-weight: 200;
}

#vision{
    margin: 0px 30px;
}

.vision-section{
    display: flex;
    flex-direction: row;
    gap:  30px;
}
.vision-des{
    padding: 30px 0px;
}

.vision-details-01 {
    padding:  25px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    background-color: #81B4FC;
    text-align: justify;
}

.vision-details-02 {
    padding:  25px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    background-color: #C6E4D6;
    text-align: justify;
} 

.vision-details-03 {
    padding:  25px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    background-color:#F7EBCF;
    text-align: justify;
}
.vision-details-01 img{
   width: 40px;
}
.vision-details-02 img{
   width: 40px;
}
.vision-details-03 img{
   width: 40px;
}

.vision-details-01 h3, .vision-details-02 h3, .vision-details-03 h3{
    padding: 10px  0px;
}

.vision-details-01 .btn{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white   ;
    background-color: #5490F5;
    
    border-width: 1px;
    cursor: pointer;
   margin: 20px 0px;
}
.vision-details-02 .btn{
  border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white  ;
   background-color: #09A15C;
    border-width: 1px;
    cursor: pointer;
   margin: 20px 0px;
}
 .vision-details-03 .btn{
  border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white ;
    background-color: #FFC239;
    border-width: 1px;
    cursor: pointer;
   margin: 20px 0px;
 }